.person{
    width:80%;
    border:5px solid transparent;

}
.person:hover{
     border-color: gray;
}
.carousel-inner img{
    height: 500px !important;
    width: 100%;
}
.bg-1{
    background:black
}
.bg-1 h3, .bg-1 em{
    color:white
}
.bg-1 h3{
    padding-top:40px; 
    padding-bottom: 30px;
}
.bg-1 em{
    padding: 20px 0px;
}
.person{
    margin-bottom: 80px;
}